on: [push]
name: Linux_Container_Workflow

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # checkout the repo
      - name: "Checkout GitHub Action"
        uses: actions/checkout@main

      - name: "Login via Azure CLI"
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install yarn
        run: yarn install -g

      - name: yarn build+install
        run: |
          cd backstage-poc
          yarn install --frozen-lockfile
          yarn tsc
          yarn build:backend

      - name: "Build and push image"
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - run: |
          docker image build . --file backstage-poc/packages/backend/Dockerfile --tag ${{ secrets.REGISTRY_LOGIN_SERVER }}/backstage:${{ github.sha }}
          docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/backstage:${{ github.sha }}

      - name: "Push image to App Service"
        uses: azure/webapps-deploy@v2
        with:
          app-name: "${{ secrets.APP_NAME }}"
          images: ${{ secrets.REGISTRY_LOGIN_SERVER }}/backstage:${{ github.sha }}
